# MAC OSX
# -------
.DS_Store

# TEMPORARY FILES
# ---------------
tmp
npm-debug.log

# SASS/COMPASS
# ------------
.sass-cache
*.sassc
*.scssc

# RUBY GEMS
# ---------
*.gem

# DEPENDENCIES
# ------------
node_modules
bower_components

# SASSDOC
# -------
sassdoc