// =============================================================================
// =ALEKSI - MAP-EXTEND
// =============================================================================
////
//// @group aleksi-maps
//// @author [Yoannis Jamar](http://yoannis.me)

@import "SassyLists";
@import "aleksi/general/throw";
@import "aleksi/maps/is-map";
@import "aleksi/maps/map-merge-deep";

// =map-extend( $maps... )
// -----------------------------------------------------------------------------
/// Merges the given maps successively. Allows to merge more then two maps
/// together.

@function map-extend( $maps... )
{
  @if length($maps) < 2 {
    $e: throw-warning('map-extend():: trying to extend one map only. Returning the map as is.');
    @return $nth($maps, 1);
  }

  $res: nth($maps, 1);
  @each $map in sl-slice($maps, 2) {
    $res: map-merge($res, $map);
  }

  @return $res;
}

// =map-extend-deep( $maps... )
// -----------------------------------------------------------------------------

@function map-extend-deep( $maps... )
{
  @if length($maps) < 2 {
    $e: throw-warning('map-extend-deep():: trying to extend one map only. Returning the map as is.');
    @return $nth($maps, 1);
  }

  $res: nth($maps, 1);

  @each $map in sl-slice($maps, 2) {
    $res: map-merge-deep($res, $map);
  }

  @return $res;
}