// =============================================================================
// =ALEKSI - MAP-WALK
// =============================================================================
////
//// @group aleksi-maps
//// @author [Yoannis Jamar](http://yoannis.me)

@import "sassy-maps";
@import "aleksi/general/throw";
@import "aleksi/maps/is-map";

// =map-walk( $map, $func[, $args... ])
// -----------------------------------------------------------------------------
/// Applies the given function to all values inside a map. The map's current
/// value is passed as first argument to the function.
///
/// @param {map} $map - The map to walk over.
/// @param {string} $func - The name of the function to apply to each value.
/// @param {arglist} $args... - Additional arguments passed to '$func`.
///
/// @return {map} - The map with modified values.
/// @throw Error `$map` must be a map.
///
/// @example scss
///   $foo: map-walk(('foo': 'bar', 'bar': 'baz'), 'to-upper-case');
///     // => ('foo': 'BAR', 'bar': 'BAZ')
///
/// @access public
/// @since 0.1.0

@function map-walk( $map, $func, $args... )
{
  @if not is-map($map) {
    $e: throw-error('map-walk():: $map must be a map, was #{inspect($map)}.');
  }

  $res: ();

  @each $key, $val in $map {
    $new: if( length($args) == 0, call($func, $val), call($func, $val, $args...) );
    $res: map-set($res, $key, $new);
  }

  @return $res;
}

// =map-walk-keys( $map, $func[, $args... ])
// -----------------------------------------------------------------------------
/// Applies the given function to all keys inside a map. The map's current
/// key is passed as first argument to the function.
///
/// @param {map} $map - The map to walk over.
/// @param {string} $func - The name of the function to apply to each key.
/// @param {arglist} $args... - Additional arguments passed to '$func`.
///
/// @return {map} - The map with modified keys.
/// @throw Error `$map` must be a map.
///
/// @example scss
///   $foo: map-walk(('foo': 'bar', 'bar': 'baz'), 'to-upper-case');
///     // => ('FOO': 'bar', 'BAR': 'baz')
///
/// @access public
/// @since 0.1.0

@function map-walk-keys( $map, $func, $args... )
{
  @if not is-map($map) {
    $e: throw-error('map-walk-keys():: $map must be a map, was #{inspect($map)}.');
  }

  $res: ();

  @each $key, $val in $map {
    $res: map-set($res, call($func, $key, $args...), $val);
  }

  @return $res;
}
