// =============================================================================
// =ALEKSI TESTS - MEMO
// =============================================================================

@import "aleksi/general/memo";

@include test-module('The memo-set function')
{
  $map: ('foo': true, 'bar': 'hello');

  @include test('should store given value in the memoization table')
  {
    $memo: memo-set('aleksi', 'foobar', 10);
    $memo: memo-set('aleksi', 'barbaz', 'hello world');
    $memo: memo-set('aleksi', '#{$map}', 10);

    @include assert-equal(map-has-key($__memo-table__, 'aleksi'), true);
    @include assert-equal(map-has-key(map-get($__memo-table__, 'aleksi'), 'foobar'), true);
    @include assert-equal(map-get(map-get($__memo-table__, 'aleksi'), 'foobar'), 10);

    @include assert-equal(map-has-key(map-get($__memo-table__, 'aleksi'), 'barbaz'), true);
    @include assert-equal(map-get(map-get($__memo-table__, 'aleksi'), 'barbaz'), 'hello world');

    @include assert-equal(map-has-key(map-get($__memo-table__, 'aleksi'), '#{$map}'), true);
    @include assert-equal(map-get(map-get($__memo-table__, 'aleksi'), '#{$map}'), 10);
  }
}

@include test-module('The memo-has function')
{
  // clear memoization table
  $__memo-table__: () !global;
  $memo: memo-set('aleksi', 'foobar', 20);
  $memo: memo-set('aleksi', 'ns', 'foobar', 10);

  @include test('should test whether a value was already stored under a given namespace->key')
  {
    @include assert-equal(memo-has('aleksi', 'foobar'), true);
    @include assert-equal(memo-has('aleksi', 'barbaz'), false);
  }

  @include test('should accept a path of nested keys to verify')
  {
    @include assert-equal(memo-has('aleksi', 'ns', 'foobar'), true);
    @include assert-equal(memo-has('aleksi', 'ns', 'barbaz'), false);
  }
}

@include test-module('The memo-get function')
{
  // clear memoization table
  $__memo-table__: () !global;
  $map: ('foo': true, 'bar': 'hello');

  $memo: memo-set('aleksi', 'foobar', 20);
  $memo: memo-set('aleksi', '#{$map}', 'hello world');
  @include test('should return a value that was previously stored')
  {
    @include assert-equal(memo-get('aleksi', 'foobar'), 20);
    @include assert-equal(memo-get('aleksi', '#{$map}'), 'hello world');
  }

  // @include xtest('should throw an error if trying to get a value that was not stored before')
  // {
  //   @include assert-equal(memo-get('aleksi', 'cihejhhi'), null);
  // }
}